<a href="https://colab.research.google.com/github/godineanvesh/Random-forest/blob/main/Randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [5]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [6]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier 
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [45]:
x = df.drop(columns = "class")
X = pd.get_dummies(x)

In [57]:
y = df[["class"]]
df["class"].unique()

array([1, 2, 4, 3])

In [58]:
y = df[["class"]].replace(to_replace = ['unacc', 'acc', 'good','vgood'], value = [1,2,3,4])

TypeError: ignored

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 1)

In [49]:
X_train.shape, X_test.shape

((1157, 21), (571, 21))

In [50]:
X_train.dtypes

buying_high       uint8
buying_low        uint8
buying_med        uint8
buying_vhigh      uint8
maint_high        uint8
maint_low         uint8
maint_med         uint8
maint_vhigh       uint8
doors_2           uint8
doors_3           uint8
doors_4           uint8
doors_5more       uint8
persons_2         uint8
persons_4         uint8
persons_more      uint8
lug_boot_big      uint8
lug_boot_med      uint8
lug_boot_small    uint8
safety_high       uint8
safety_low        uint8
safety_med        uint8
dtype: object

In [51]:
X_train.head()

      buying_high  buying_low  buying_med  ...  safety_high  safety_low  safety_med
1611            0           1           0  ...            0           1           0
1177            0           0           1  ...            0           0           1
239             0           0           0  ...            1           0           0
350             0           0           0  ...            1           0           0
921             0           0           1  ...            0           1           0

[5 rows x 21 columns]

In [52]:
rfc = RandomForestClassifier()

i have to read one hot encoding

In [61]:
rf_model = rfc.fit(X_train, y_train)

In [65]:
y_pred = rf_model.predict(X_test)

In [60]:
from sklearn import metrics

In [66]:
metrics.accuracy_score(y_test,y_pred)

0.9457092819614711

In [67]:
metrics.confusion_matrix(y_test, y_pred)

array([[395,   8,   0,   0],
       [  5, 113,   3,   1],
       [  0,  10,  14,   1],
       [  0,   2,   1,  18]])